name: Deploy Python project to Azure Function App to check

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        shell: bash
        run: |
          pushd "${{ vars.AZURE_FUNCTIONAPP_PACKAGE_PATH }}"
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt --target=".python_packages/lib/site-packages"
          popd

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: functionapp-package
          path: ${{ vars.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

  deploy:
    runs-on: self-hosted
    needs: build   # ensures deploy runs only after build succeeds
    environment: dev
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: functionapp-package
          path: ${{ vars.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: false

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ vars.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ vars.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true
